@import '../../App.css';

.input {
  --box-shadow: 0 0 0 2px  rgba(0, 0, 0, 0.2);

  padding: 5px 10px;
  background-color: var(--white-color, #fff);
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 18px;
  line-height: 30px;
}

.input:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.input:focus {
  box-shadow: var(--box-shadow);
  border-radius: 7px;
}

.input:focus-visible {
  box-shadow: var(--box-shadow);
}

.input:focus:not(:focus-visible) {
  box-shadow: none;
}
