.resize-panel {
  display: flex;
  flex: 1 1;
  height: 100%;
  padding: 10px;
}

.resizer {
  display: flex;
  width: 10px;
  align-items: center;
  justify-content: center;
  cursor: col-resize;
  flex-shrink: 0;
  opacity: 0.2;
}

.resizer:hover {
  opacity: 0.4;
}

.panel {
  overflow: visible;
}

.left {
  width: 50%;
}

.right {
  flex: 1;
  width: 0;
}
