@import '/src/App.css';

.container {
  width: 520px;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.content {
  margin: 20px 0;
  width: 100%;
}

.logo {
  color: rgba(0, 0, 0, 0.2);
}

.footer {
  color: #999;
  font-size: 16px;
  line-height: 20px;
}
